<% include head %>
<section id="about-container">
    <h1>Mission Statement:</h1>
        <p>SweetHub aims to be your next meeting spot for your new life-long dessert friends. Craving boba and don't want to go alone? Checkout events in SweetHub for others like you! Want to organize events with your friends and family? Do so, easily, with SweetHub!</p>

        <h1>About us:</h1>

        <p>
            Our goal was to create a community driven application centered around the love for desserts. Throughout the development process, the SweetHub team focused on bringing the local community of Atlanta together.

            You can find the repo <a href="https://github.com/JonathanDonJoe/desserts-app">here.</a>
        </p>

</section>

<% include footer %>