<% include head %>
<section>

    <h1>About us:</h1>
    <div class = "container">
        <p>In addition to enjoying great desserts, we believe passionately in learning.<br> 
        We truly believe in the transformative power of learning, and the ability to communicate<br>
        what we've learned onto your screens.<br>
        You can find the repo <a href="https://github.com/JonathanDonJoe/desserts-app">here.</a>
         </p>
        
    </div>
</section>
    
<% include footer %>