<% include head %>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome to your dashboard, update your profile, create an event, and/or make a group</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/update-profile" role="button">Update Profile</a>
      <a class="btn btn-primary btn-lg" href="/events/event-signup" role="button">Create Event</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Make a Group</a>
      <!-- <hr class="my-4"> -->
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active disabled">
          Your Events
        </a>
        <% myEvents.forEach( event => { %>
          <a href="/events/<%= event.id%>" class="list-group-item list-group-item-action"><%= event.name %></a>
        <% }) %>
      </div>

    </p>
  </div>


<% include footer %>