<% include head %>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome to your dashboard, update your profile, create an event, and/or make a group</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Update Profile</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Create Event</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Make a Group</a>
      <hr class="my-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active disabled">
          Your Events
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      </div>
      <hr class="my-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active disabled">
          Your Groups
        </a>
        <a href="#" class="list-group-item list-group-item-action ">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      </div>
    </p>
  </div>


<% include footer %>