<% include head %>
<section>
    <div class="container scrollbar scrollbar-heavy-rain">
        <div class="row">
          <div class="col col-12">
                <h1>Events</h1>
                <a class="btn btn-primary btn-lg" href="/events/event-signup" role="button">Create Event</a>
          </div>
    

          <% eventsData.forEach( event  => { %>
              <div class="poster">
                  <!-- Check this link for /events/1 -->
                    <a href="/events/<%= event.id %>">
                        <div class="card">
                            <img class="card-img-bottom" src="<%= event.avatar_url %> " alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><%= event.name%></br>Created by: <%= event.username %></p>
                            </div>
                        </div>
                    <a>
              </div>
          <%}) %>
        </div>
    </div>
</section>



<% include footer %>