<% include head%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Groups</h1>
      <p class="lead">Make or view groups.</p>
    
    </div>
  </div>


<% include footer%>