<% include head %>
 
<section id="home">
    <div>
            <h1 class="display-4"><%= title %></h1>
            <p class="lead">Make new friends and network over dessert!</p>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up</a>
    </div>

 </section>

  
<% include footer %>