<% include head %>
  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui corporis illo ipsum vero! Dolorum quidem optio vitae delectus officia voluptatibus et, labore ipsa earum itaque ipsam iusto eligendi. Eum, neque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae culpa natus eaque. Ut doloremque dolores tenetur temporibus, corporis alias corrupti odit ipsum sint ea commodi dicta dignissimos eum dolorum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, unde ipsum ut laboriosam officia soluta velit, eveniet, delectus atque vel magni dolore iusto illum labore nihil dolorem impedit veritatis rem!</p>

  
<% include footer %>