<% include head %>
<div class="container">
    <div class="row">
        <div class="col col-sm-6 offset-sm-3">
            <h1><br>Event name</h1>
            <br>
            <img src="<%= imageBaseUrl + parsedData.poster_path %>" />
            <p><br><strong>Where: </strong>Here!</p>
            <br>
            <p><strong>Who: </strong>You!</p>

        </div>
    </div>
</div>


<% include footer %>