@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 251, 247), rgb(255, 215, 191));
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom right, rgb(35, 158, 136), rgb(11, 157, 147), rgb(18, 131, 105));
}

.navbar-brand, h1 {
  color: rgb(255, 226, 209) !important;
  text-align: center;
  font-size: 2rem;
}

.collapse {
  justify-content: flex-end;
}

input.form-control {
  border-radius: 0 25px 25px 0;
  text-align: center;
}

section {
  padding: 30px;
  background-image: linear-gradient(to bottom right, rgb(35, 158, 136), rgb(11, 157, 147), rgb(18, 131, 105));
  color: rgb(255, 255, 255);
  border-radius: 60px 60px 60px 0;
  /* position: fixed; */
  justify-content: center;
  align-content: center;
  max-width: 100vw;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0;
}

.container {
  width: 50vw;
  overflow: auto;
  max-height: 70vh;
}

.poster {
  display: flex;
  flex-flow: wrap;
  height: 250px;
}

img {
  max-height: 190px;
  max-width: 190px;
  overflow: hidden;
}

.card {
  margin: 40px auto;
  height: 25vh;
  padding: 10px;
}

.card-text {
  font-size: .8rem;
}

.row {
  justify-content: center !important;
}

.btn, .list-group-item-action.active.disabled {
  background-color: rgb(243, 156, 62);
  border: black;
  min-width: 200px;
}

.list-group-item-action {
  background-color: rgb(255, 251, 247);
}

input.btn {
  margin-left: 15px;
}

.dash-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a.btn {
  margin-bottom: 10px;
}

/* events button fixes */


.form-control {
  background-color: rgb(255, 251, 247);
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: rgb(41, 77, 131);
}



/* media queries */


/* iPad Pro */
/* Portrait */
@media screen 
  and (device-width: 1024px) 
  and (device-height: 1366px)  
  and (orientation: portrait) {
    body {
      height: 65vh;
    }
    footer {
      position: fixed;
      bottom: 540px;
      padding: 0;
    }
}

/* Landscape */
@media screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) {
    body {
      height: 60vh;
    }
    footer {
      position: fixed;
      bottom: 200px;
    }
}

/* iPad */
/* Portrait */

@media screen 
  and (device-width: 768px) 
  and (device-height: 1024px)  
  and (orientation: portrait) {
    body {
      height: 100vh;
    }
    footer {
      position: fixed;
      bottom: 180px;
      padding: 0;
    }
}